.timer {
  width: 410px;
  height: 410px;
  border-radius: 410px;
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: 50px 50px 100px 0px #121530, -50px -50px 100px 0px #272c5a;
  display: grid;
  place-items: center;

  &-inner {
    width: 366px;
    height: 366px;
    border-radius: 366px;
    background: #161932;
    position: relative;

    display: grid;
    place-items: center;
  }

  &-progress-bar {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #f87070;
  }

  &-counter-box {
    display: grid;
  }

  &-counter {
    color: #d7e0ff;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -5px;
    margin-bottom: 19px;

    &-button {
      border: none;
      background-color: initial;
      color: #d7e0ff;
      font-family: Kumbh Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 15px;
      margin: 0 auto;
    }
  }
}
